body {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: rgb(164, 216, 255);
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif, serif;
    color: black;
}


button {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    cursor: pointer;
    font-size: 30px;
}

button:hover {
    background-color: bisque;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 600px;
    height: 750px;
    background-color: hsl(0, 0%, 25%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5%;
}
.buttons {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 350px;
    flex-wrap: wrap;
    margin-top: -150px;
    padding: 20px;
    
}

#display {
    padding: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    height: 100px;
    width: 600px;
    border: solid;
    background-color: hsl(0, 0%, 95%);
    color: black;
    border-radius: 5%;
}

.operator {
    background-color: lightpink;
}

#plus:hover, #subtract:hover, #multiply:hover, #divide:hover {
    background-color: rgb(252, 211, 217);
}

#calculate, #decimal, #negative {
    background-color: pink;
}

#calculate:hover, #decimal:hover, #negative:hover {
    background-color: rgb(252, 211, 217);
}


#clear {
    background-color: lightskyblue;
}


#clear:hover {
    background-color: rgb(233, 118, 118)
}